doctype html
html(lang='en')
  include partials/header.pug
  body
    include partials/navbar.pug
    for customer in CustomerList
      .modal(role="dialog" id=`modal_${customer._id}`)
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              h4(class="modal-title") #{customer.LastName} #{customer.FirstName}
              button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            
            div(class="modal-body")
              .container
                .row
                  .span5
                    img(src=`data:image/bmp;base64,${customer.FaceImage}`, width='250')
                  .span2
                    p
                  .span5
                    h5 Name: #{customer.LastName} #{customer.FirstName}
                    h5 Email: #{customer.Email}
                    h5 Title: #{customer.Title}
                    h5 Mobile Number: #{customer.MobileNo}
                    h5 Address1: #{customer.address1}
                    h5 Address2: #{customer.address2}
                    h5#statusText Status: #{customer.Status}
                .row
                  .span4
                    h5 Address Proof
                    img(src=`data:image/bmp;base64,${customer.AddressImage}`, width='100', height='100')
                  .span4
                    h5 Signature
                    img(src=`data:image/bmp;base64,${customer.SignatureImage}`, width='100', height='100')
                  .span4
                    case customer.IDType
                      when 'IdentityCard'
                        h5 ID Front
                        img(src=`data:image/bmp;base64,${customer.IDFront}`, width='100', height='100')
                        h5 ID Back
                        img(src=`data:image/bmp;base64,${customer.IDBack}`, width='100', height='100')
                      when 'Passport'
                        h5 Passport
                        img(src=`data:image/bmp;base64,${customer.PassportImage}`, width='100', height='100')
                      when 'DrivingLicense'
                        h5 Driving License
                        img(src=`data:image/bmp;base64,${customer.IDPicture}`, width='100', height='100')  
              button(type="button" class="btn btn-default" data-dismiss="modal") Close
              a.btn.btn-hover(onclick=`VerifyCustomer('${customer._id}')`) Verify Customer

    .container
      .row-fluid
      table#pickle.table.table-hover.table-striped.table-bordered
        thead
            tr
                th #
                th Email
                th Status
                th view
        tbody
          for customer in CustomerList
            tr
                th(scope='row') 1
                td #{customer.Email}
                td #{customer.Status}
                td 
                  a.btn(onclick=`ViewCustomer('modal_${customer._id}')`)  View

        .span8.offset2
          .hero-unit
            h3 KYC Verification
            p Click on "Verify Customer" button to verify customer.
          //- for customer in CustomerList
          //-   div.row-fluid
          //-     .card.span10.offset1.row-fluid
          //-       .card-header
          //-         p test
          //-       //- .row-fluid
          //-         //- img(src=`data:image/bmp;base64,${customer.FaceImage}`, width='250')
          //-       .card-body
          //-         .row
          //-           .span6
          //-             img(src=`data:image/bmp;base64,${customer.FaceImage}`, width='250')
          //-           .span6.tex
          //-             h5 Name: #{customer.LastName} #{customer.FirstName}
          //-             h5 Email: #{customer.Email}
          //-             h5 Title: #{customer.Title}
          //-             h5 Mobile Number: #{customer.MobileNo}
          //-             h5 Address1: #{customer.address1}
          //-             h5 Address2: #{customer.address2}
          //-             h5#statusText Status: #{customer.Status}
          //-         .row
          //-           .span4
          //-             h5 Address Proof
          //-             img(src=`data:image/bmp;base64,${customer.AddressImage}`, width='100', height='100')
          //-           .span4
          //-             h5 Signature
          //-             img(src=`data:image/bmp;base64,${customer.SignatureImage}`, width='100', height='100')
          //-           .span4
          //-             case customer.IDType
          //-               when 'IdentityCard'
          //-                 h5 ID Front
          //-                 img(src=`data:image/bmp;base64,${customer.IDFront}`, width='100', height='100')
          //-                 h5 ID Back
          //-                 img(src=`data:image/bmp;base64,${customer.IDBack}`, width='100', height='100')
          //-               when 'Passport'
          //-                 h5 Passport
          //-                 img(src=`data:image/bmp;base64,${customer.PassportImage}`, width='100', height='100')
                          
          //-               when 'DrivingLicense'
          //-                 h5 Driving License
          //-                 img(src=`data:image/bmp;base64,${customer.IDPicture}`, width='100', height='100')        
          //-         br
          //-         a.btn(onclick=`VerifyCustomer('${customer._id}')`) Verify Customer

              
  include ./partials/scripts
